<div class="col-md-6 text-nowarp">
	<%= simple_form_for @person, html: {class: 'from-horizontal'}, wrapper: :horizontal_form do |f| %>
	    <%= f.input :name, placeholder: 'U Mya' %>
	    <%= f.input :phone, label: 'Phone' %>
	    <%= f.input :designation %>
	    <%= f.input :organization %>            
	    <%= link_to 'Back', people_path, class: 'col-sm-offset-3 btn btn-default' %>
	<% end %>
</div>