<div class="panl panel-default">
    <div class="panel-heading no-print">
        <div class="btn-group"></div>
    </div>
    <div class="panel-body panel-form">
        <%= simple_form_for @contract, html: {class: 'from-horizontal'}, wrapper: :horizontal_form do |form| %>
            <% if contract.errors.any? %>
            <div id="error_explanation">
                <h2>
                    <%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>
                <ul>
                    <% contract.errors.full_messages.each do |message| %>
                    <li>
                        <%= message %>
                    </li>
                    <% end %>
                </ul>
            </div>
            <% end %>
            <%= form.input :dated, as: :string, input_html: {class: 'datepicker'} %>
            <%= form.input :person_id, label: 'Contract Person' do %>
                <%=form.select :person_id, Person.all.map { |p| [p.name + "("+p.phone+")", p.id]}, {},{class: 'form-control string optional'} %>
            <% end %>
            <%= form.input :service_from, as: :string, input_html: {class: 'datepicker'} %>
            <%= form.input :service_to, as: :string, input_html: {class: 'datepicker'} %>
            <%= form.input :preferred_date, placeholder: 'Mon,Tue' %>
            <%= form.input :preferred_time, placeholder: '9:00AM to 4:00PM' %>
            <%= link_to 'Back', contracts_path, class: 'col-sm-offset-3 btn btn-default' %>
            <%= form.button :submit, class: 'btn btn-primary' %>
        <% end %>
    </div>
    <!-- </div> -->
    <!-- </div>