<form>
	<div class="form-group">
			<div>
				<h2>Service Log Details</h2>
			</div><br>
			<div class="col-sm-4 col-centered">
				<%= simple_form_for @svclog, html: {class: 'from-vertical'}, wrapper: :vertical_form do |f| %>
		            <%= f.input :organization_id, label: '' do %>
		                <%=f.select :organization_id, Organization.all.map { |p| [p.name, p.id]}, {},{class: 'form-control string optional'} %>
		                <% end %>
		            <%= f.input :department%>
		            <%= f.input :location %>
		            <%= link_to "All Svlog", svclogs_url, class: 'btn btn-default' %>
        		<% end %>
			</div>
	</div>
</form>