<div class="panel panel-default">
    <div class="panel-heading no-print">
        <div class="btn-group">
            <%= link_to 'Add Mslog', new_mslog_url, class: 'btn btn-default btn-sm' %>
        </div>
    </div>
    <div class="panel-body">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr role="row">
                            <th>Date</th>
                            <th>Computer Name-MAC</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @mslogs.each do |mslog| %>
                            <tr>
                                <td><%= mslog.date %></td>
                                <td><%= mslog.machine.name %></td>
                                <td><%= mslog.description %></td>
                                <td>
                                        <%= link_to 'Show', mslog,class: 'btn btn-xs btn-default' %>
                                        <%= link_to 'Edit', edit_mslog_path(mslog), class: 'btn btn-xs btn-default'%>
                                        <%= link_to 'Destroy', mslog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-warning' %>
                                    </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>