<h3>Machine service logs</h3><br>
<div class="col-md-6">
<%= simple_form_for @mslog, html: {class: 'from-horizontal'}, wrapper: :horizontal_form do |form| %>
	<%= form.input :date, as: :string, input_html: {class: 'datepicker'} %>
    <%= form.input :machine_id, label: '' do %>
        <%=form.select :machine_id, Machine.all.map { |p| [p.name + "-"+p.mac, p.id]}, {},{class: 'form-control string optional'} %>
        <% end %>
    <%= form.input :description %>
    <%= link_to 'Back', mslogs_path, class: 'col-sm-offset-3 btn btn-default' %>
 <% end %>
</div>