<div class="panl panel-default">
    <div class="panel-heading no-print">
        <div class="btn-group"></div>
    </div>
    <div class="panel-body panel-form">
        <%= simple_form_for organization, html: {class: 'from-horizontal'}, wrapper: :horizontal_form do |f| %>
        <div class="col-sm-6">
            <%= f.input :name, placeholder: 'Shine Co.,Ltd.' %>
            <%= f.input :address,  label: 'Address' %>
            <%= f.input :phone, placeholder: '09-123456789', label: '' %>
            <%= f.input :email, placeholder: 'ab@gmail.com', label: 'Email' %>
        
            <%= link_to 'Back', organizations_path, class: 'col-sm-offset-3 btn btn-default' %>
            <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
        <% end %>        
    </div>
</div>
</div>