<div class="col-md-6 text-nowarp">
  <%= simple_form_for @machine, html: {class: 'from-horizontal'}, wrapper: :horizontal_form do |f| %>
      <%= f.input :name %>
      <%= f.input :mac %>
      <%= f.input :cpu %>
      <%= f.input :ram %>
      <%= f.input :hdd %>
      <%= f.input :optical_drive %>
      <%= f.input :os %>
      <%= f.input :purchase_date, as: :string, input_html: {class: 'datepicker'} %>
      <%= link_to 'Back', machines_path, class: 'col-sm-offset-3 btn btn-default' %>
  <% end %>
</div>